name: VirusTotal Scan

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  virustotal:
    runs-on: ubuntu-latest
    steps:
      - name: VirusTotal Scan
        uses: crazy-max/ghaction-virustotal@v4
        with:
          vt_api_key: ${{ secrets.VT_API_KEY }}
          update_release_body: true
          request_rate: 4
          files: |
            .exe$
            linux-amd64$
            darwin-arm64$
            darwin-amd64$
